# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

*.env.*

# Simulation Data
videos/
sim/
shared/